@use "components";
@use "colors";

.auth {
  background-color: colors.$bgLogin;
  background-image: url("../images/bg.svg");
  header {
    @include components.header;
  }
  main {
    align-items: center;
  }
  #form-tabs {
    @include components.tabs;
    width: 100%;
    li {
      width: 175px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-decoration: none;
      color: var(--dark);
    }
  }
  #login-facebook {
    @include components.button;
    align-items: center;
    display: flex;
    background-color: #4e6cab;
    margin-top: 20px;
    &:hover,
    &:active {
      background-color: #314776;
    }
    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  main form {
    background-color: var(--primary);
    padding: var(--space);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    width: 350px;
    z-index: 1;
    label {
      margin-top: 12px;
      margin-bottom: 5px;
      font-size: 14px;
    }
    input {
      @include components.input;
    }
    form {
      background-color: var(--primary);
      padding: var(--space);
      padding-top: 5rem;
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
      width: 350px;
      input {
        @include components.input;
        box-shadow: 1px 1px 16px -2px #00000063;
      }
      label + label {
        margin-top: var(--space);
      }
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--space);
        position: relative;
        min-height: var(--space);
        a {
          color: var(--white);
          font-size: 14px;
        }
        button {
          @include components.button;
        }
      }
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: var(--space);
      position: relative;
      min-height: var(--space);
      a {
        color: var(--white);
        font-size: 14px;
      }
      button {
        @include components.button;
      }
    }
  }
  #options {
    background-color: #ffffff;
    padding: var(--space);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    width: 350px;
    z-index: 0;
    margin-top: -20px;
    h3 {
      margin: 10px 0;
    }
    
  }
  
  .options {
    padding: 0;
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0;
    }
    label {
      margin: 5px 0;
    }
    textarea {
      border-radius: var(--radius);
      border: none;
      font-size: 16px;
      padding: var(--space);
      outline: none;
      box-shadow: 1px 1px 16px -2px #00000063;
      flex: 1;
      &:read-only {
        box-shadow: none;
        background-color: #ccc;
      }
    }
    input {
      @include components.input;
      box-shadow: 1px 1px 16px -2px #00000063;
      flex: 1;
      font-size: 14px;
      height: fit-content;
      padding: 12px;
      &:read-only {
        box-shadow: none;
        background-color: #ccc;
      }
      &[name="price"] {
        margin-top: -5px;
        max-width: 150px;
      }
      &[name="min"] {
        width: 80px;
        margin-right: 10px;
      }
      &[name="max"] {
        width: 80px;
      }
    }
    li {
      border-top: 1px solid #00000050;
    }
    button {
      margin: 5px;
      &:hover {
        background-color: #cccccc90;
      }
    }
    .btn-remove {
      background: none;
      outline: none;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  }
  .btn-add {
    @include components.button;
    align-self: center;
    cursor: pointer;
  }
  
}
