$dark: #070d0d;
$light: #d7d7d7;
$white: #ffffff;
$gray: #e3e3e3;

/* $theme: red;
$bgLogin: #250303;
$bgTabs: #3A1C1C;
$bgHorizontalLine: #1F2525;
$primary: #DD0E0E;
$primaryText: $white;
$secondary: rgba(#FF5252, .7); */

/* $theme: green;
$bgLogin: #0D1807;
$bgTabs: #252F1F;
$bgHorizontalLine: #1F2525;
$primary: #59AE16;
$primaryText: $white;
$secondary: rgba(#A1EB73, .7); */

$theme: blue;
$bgLogin: #08182b;
$bgTabs: #9c9c9c5b;
$bgHorizontalLine: #1f2525;
$primary: #101d1d;
$primaryText: $white;
$secondary: rgba(#1b9af6, 0.7);
$danger: rgba(#ff5252, 1);
$success: rgba(#a1eb73, 1);

$white10: rgba($white, 0.1);
$white90: rgba($white, 0.9);
$white25: rgba($white, 0.25);
