@use "components";
@use "colors";
@use "vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto";
  &::selection {
    background: var(--primary);
    color: var(--white);
  }
}

body {
  margin: 0;
  background-color: var(--white);
  color: black;
}

body,
div,
section,
main,
article,
header,
footer,
form,
label {
  display: flex;
  flex-direction: column;
}

#alert {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  min-height: 50px;
  padding: 1rem;
  width: 80%;
  max-width: 350px;
  background-color: var(--success);
  border-radius: 10px;
  transition: top 0.3s ease-in-out;
  &.hide {
    display: flex;
    top: -100%;
    transition: top 0.3s ease-in-out;
  }
  &.danger {
    background-color: var(--danger);
    color: white;
  }
}

#menu-categories {
  width: 100%;
  background: #ffffff9e;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  > div {
    overflow-x: scroll;
    max-width: 100%;
    padding-bottom: 5px;
    // box-shadow: 1px 1px 4px #00000038;
    // &::-webkit-scrollbar {
    //   width: 0px;
    //   height: 0px;
    // }
    .menu-cat {
      background-color: white;
      border: 1px solid black;
      border-radius: var(--radius);
      color: var(--black);
      padding: 5px 10px;
      outline: none;
      cursor: pointer;
      box-shadow: 0 0 10px rgb(16 29 29 / 25%);
      letter-spacing: 0.5px;
      font-weight: bold;
      margin: 5px;
      white-space: nowrap;
      &.active {
        background-color: #101d1d;
        color: var(--white);
      }
      &:hover {
        background-color: #232525;
        color: var(--white);
      }
    }
  }
  @media (min-width: vars.$desktopStartWidth) {
    display: none;
    // position: relative;
    > div {
      max-width: calc(100vw - 350px);
      &::-webkit-scrollbar {
        width: 5px;
        height: 2px;
      }
    }
  }
}

#modal {
  display: none;
  form {
    width: 100%;
    padding: 10px;
    padding-bottom: 90px;
    overflow: auto;
    @include components.scrollbar;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #00000050;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #dadada;
    button {
      @include components.button;
      &.close {
        background-color: #cccccc90;
        color: #000;
      }
    }
  }
  > div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    > #overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000bd;
    }

    > .modal-content {
      width: 90%;
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem 0;
      color: #000;
      min-height: 12rem;
      max-height: 90vh;
      max-width: 350px;
      position: relative;
      overflow: hidden;
      .modal-alert {
        padding: 10px;
      }
      img.close {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        cursor: pointer;
      }
      .image-prod-modal {
        width: 100%;
        border-radius: 15px;
      }
      .description-prod {
        // margin: 10px 0;
        padding: 10px;
      }
      .price-prod {
        text-align-last: center;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .comments-wrapper {
        padding: 10px;
        margin: 5px 0 0;
        label {
          font-weight: bold;
        }
        > textarea {
          border-radius: var(--radius);
          border: 1px solid #cccc;
          font-size: 14px;
          padding: 5px;
          outline: none;
        }
      }
      .options-product {
        > div {
          background: #eaeaea;
          padding: 10px;
          margin: 5px 0 0;
          border: 3px solid transparent;
          transition: border 0.3s ease-in-out;
          &.error {
            border: 3px solid red;
          }
          ul {
            margin: 10px 0;
            padding: 5px;
            li {
              list-style: none;
              display: flex;
              margin-bottom: 5px;
              label {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 5px;
                span {
                  min-width: 75px;
                }
              }
            }
          }
          h4 {
            margin: 0;
            font-size: 18px;
          }
          > span {
            font-size: 12px;
            padding-left: 5px;
          }
        }
      }
      h3 {
        margin: 0;
        margin-bottom: 15px;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
      }
      p {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        a,
        button {
          background-color: var(--primary);
          text-align: center;
          color: #ffffff;
          padding: 0.7rem 0;
          margin-top: 1rem;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.9rem;
          border: none;
          border-radius: 9px;
          cursor : pointer;
          &.danger {
            background-color: var(--danger);
          }
          &.cancel {
            background-color: var(--gray);
            color: black;
          }
        }
        a:first-child {
          margin-top: 0.5rem;
        }
      }
      > ul {
        padding: 0;
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin: 10px 0;
        > li {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  &.open {
    display: flex;
  }
}

#userMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -1000vw;
  background-color: #000000bd;
  z-index: 999;
  display: flex;
  transition: right 0.3s ease-in-out;
  display: flex;
  align-items: flex-end;
  > div {
    width: 90%;
    max-width: 450px;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    padding-top: 40px;
    color: #000;
    min-height: 12rem;
    position: relative;
    overflow: auto;
    z-index: 6;
    img {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 30px;
      cursor: pointer;
    }
    h3 {
      margin: 0;
      margin-bottom: 15px;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
    }
    button {
      background: #2d2d2d;
      text-align: center;
      color: #ffffff;
      padding: 0.7rem 0;
      margin-top: 1rem;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9rem;
      border-radius: var(--radius);
      cursor: pointer;
    }
    ul {
      padding: 0;
      border-bottom: 1px solid;
      padding-bottom: 5px;
      margin: 10px 0;
      li {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        a {
          text-align: center;
          padding: 0.7rem 0;
          margin-top: 1rem;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.9rem;
          color: #000;
        }
        a:first-child {
          margin-top: 0.5rem;
        }
      }
    }
  }
  &.open {
    right: 0px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
.ali-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.hide {
  display: none;
}

    // css adicional
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }